.second-fotter{
  width:100vw;
  text-align:center;
  font-size:1vw;
  background-color: rgb(156, 206, 221);
  padding:2px;
  color:white;
}
.second-header{
  width:100vw;
  background-color: rgb(156, 206, 221);
}